@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<div class="row">
    <div class="col-lg-5 text-lg-right"><img src="/assets/img/Blazor-logo.png" style="max-width: 100px" /></div>
    <div class="col-lg-2 text-lg-center"><span class="oi oi-plus" aria-hidden="true"></span></div>
    <div class="col-lg-5 text-lg-left"><img src="/assets/img/Episerver-logo.jpeg" style="max-width: 100px;" /></div>
</div>

<SurveyPrompt Title="How is Blazor working for you?" />
